GITHUB_ACCESS_TOKEN=

BUILD_VERSION=v1.0.0

WRAPPER_DEPS_INSTALL=https://github.com/SCM-NV/pyZacros/archive/refs/tags/v.1.2.zip https://github.com/mbracconi/adaptiveDesignProcedure/archive/refs/tags/v1.4.0.zip
WRAPPER_DEPS_EXTRA=git+https://github.com/SCM-NV/PLAMS@7661960a9db53249a0b77935dacc8a7668c2489b

CATALYTIC_FOAM_REPO=https://oauth2:${GITHUB_ACCESS_TOKEN}@github.com/MBueschelberger/catalyticFoam_ReaxPro.git
EIGEN_REPO=https://gitlab.com/libeigen/eigen/-/archive/3.3.9/eigen-3.3.9.tar.gz

REAXPRO_MINIO_USER=rootname
REAXPRO_MINIO_PASSWORD=rootname123
DOCKER_BUILD_TARGET=develop
INSTALL_SLURM=no
